<!DOCTYPE html>
<html>
<head>
  <head>
    <meta charset="utf-8">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/playing-board.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/brain.js"></script>
    <script src="lib/poker-hand-dataset.js"></script>
    <script src="lib/pokersolver/pokersolver.js"></script>
    <script src="js/pokerLogic.js"></script>
    <script src="js/machineLearningPoker.js"></script>
    <script src="js/draggableDiv.js"></script>
    <script src="js/scripts.js"></script>
    <title>Machine Learning Poker</title>
  </head>
</head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Player
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/order">New Game</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container">
<body>
  @RenderBody()
</body>
  </div>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">Randy Weyer</span>
    </div>
  </footer>
  </html>
