<html>
  <head>
    <title>Machine Learning Poker</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/fullpage.css" />
    <link rel="stylesheet" type="text/css" href="css/splash-page.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/fullpage.extensions.min.js"></script>
    <script type="text/javascript" src="js/jquery.easings.min.js"></script>
  </head>
  <body>
    @RenderBody()
  </body>

  <script type="text/javascript">
  new fullpage('#fullpage', {
    anchors: ['page1', 'page2', 'page3', 'page4', 'page5', 'page6'],
    sectionsColor: ['#588bb8', '#9e58b8', '#b8ab58', '#b87b58', '#f2992e', '#1f2936'],
    navigationTooltips: ['Log In', 'What is Machine Learning?', 'Natural Selection Learning', 'Reinforcement Learning', 'Nueral Networks', 'Naive Bayesian Learning'],
    css3: true,
    scrollingSpeed: 800,
    navigation: true,
    navigationPosition: 'left',
    slidesNavigation: true,
    easing: 'easeInOutCubic',
  	easingcss3: 'ease',
    responsiveHeight: 330,
    dragAndMove: true,
    dragAndMoveKey: 'YWx2YXJvdHJpZ28uY29tX0EyMlpISmhaMEZ1WkUxdmRtVT0wWUc=',
    controlArrows: false,
    parallax: true,
    parallaxOptions: {type: 'cover', percentage: 62, property: 'translate'},
    licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE'
  });
  </script>
</html>
