<div class="container">


<div class="computer-hand">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          Computer hand
        </div>

        <div class="col-md-3">
        </div>
      </div>
    </div>

    <!-- Play Board -->
<div class="play-board">
</div>

    <div class="player-hand">
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
              Player hand
            </div>

            <div class="col-md-3">
            </div>
          </div>
        </div>

    <!-- End of Container -->
</div>
