<div id="learner-parameters">
  <div id="learner-parameters-header">Learner Parameters</div>
  <form id="learner-form" action="teach-machine">
    <select class="learner-hand" name="learner-hand">
      <option value="HighCard">High Card</option>
      <option value="OnePair">One Pair</option>
      <option value="TwoPair">Two Pair</option>
      <option value="ThreeOfAKind">Three of a Kind</option>
      <option value="Straight">Straight</option>
      <option value="Flush">Flush</option>
      <option value="FullHouse">Full House</option>
      <option value="FourOfAKind">Four of a Kind</option>
      <option value="StraightFlush">Straight Flush</option>
    </select>
    <br>
    <input type="radio" name="outcome" value="win"> Win<br>
    <input type="radio" name="outcome" value="lose"> Lose<br>
    <input type="radio" name="outcome" value="other"> Tie<br>
    <button type="submit" name="button">Teach</button>
  </form>

</div>
<div class="container">


<div class="computer-hand">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          Computer hand
        </div>

        <div class="col-md-3">
        </div>
      </div>
    </div>

    <!-- Play Board -->
<div class="play-board">
</div>

    <div class="player-hand">
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
              Player hand
            </div>

            <div class="col-md-3">
            </div>
          </div>
        </div>

    <!-- End of Container -->
</div>
