body {
  background-color: #ddd;
  min-height: 100%;
}

/*Sticky Footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: white;
}
nav {
  display: flex;
  list-style: none;
}

.computer-hand {
  text-align: center;
}

.play-board {
  min-height: 300px;
}

.player-hand {
  width: 100%;
  text-align: center;
}
